<!-- Service booking and flight booking -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>symm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.themes.min.css">
    <link href="lib/datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
<div class="loader hidden"></div>

@@include('./header.html')

<div flex flex-column page-container>

  <div flex-column page-section flight-search-wrap>
      <div search-input-wrap flex flex-align-end flex-end>
        <div input-with-label flex flex-column flex-align-self-start>
          <label>Departure date</label>
          <input type='text' id="departure-date" placeholder="dd/mm/yyyy" class="datepicker-here" data-position="right top"/>
        </div>
        <div input-with-label flex flex-column flex-align-self-end>
          <label>Departure airport</label>
          <input type="text" id="airport-search-input" placeholder="Your city or airport code">
        </div>
      </div>
    <div search-tip>Please select your nearest airport and preferable departure date</div>
  </div>

  <div id="flight-list"></div>

  <div id="service-info" service-info flex flex-column class="hidden">
    <div service-info-text-wrap flex flex-space-between>
      <div service-name>Appointment to <span id="service-name"></span></div>
      <div service-price>Price for appointment: <span id="service-price"></span></div>
    </div>
    <div booking-schedule-wrap>
      <div booking-schedule id="booking-schedule"></div>
    </div>
  </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
<script src="lib/jquery.weekly-schedule-plugin.min.js"></script>
<script src="lib/datepicker.min.js"></script>
<script src="lib/datepicker.en.js"></script>
<script src="other-js/booking.js"></script>

</body>

</html>